:root {
    --caret-color: #11095c;
}

body {
    background: rgb(252,252,252);
    background: linear-gradient(180deg, rgba(252,252,252,1) 37%, rgba(187,202,235,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    /* align-items: center; */
}

.header h1 {
    color: var(--caret-color);
    font-weight: 800;
    font-size: xx-large;
}

.header span {
    margin: 32px 0px;
}

.header a {
    border-radius: 9px;
    background-color: var(--caret-color);
    color: white;
    padding: 10px;
    text-decoration: none;
}

.content-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8em;
}

.section-text {
    width: 40%;
}

.section-text p:nth-child(1) {
    font-size: 60px;
    font-weight: bolder;
    color: var(--caret-color);
}

.section-text p:nth-child(2) {
    color: grey;
    font-weight: 400;
    font-size: large;
    text-align: left;
    line-height: 25px;
    margin-bottom: 20px;
    width: 22em;
}

.section-text span {
    display: block;
    margin-top: 20px;
    /* width: 7em; */
}

.section-text a {
    border-radius: 9px;
    background: rgb(254,117,65);
    background: linear-gradient(180deg, rgba(254,117,65,1) 0%, rgba(224,23,136,1) 55%);
    color: white;
    font-size: medium;
    padding: 15px 20px;
    text-decoration: none;
}

.section-banner {
    width: 40%;
}

.card-1 {
    border: 3px solid gray;
	border-radius: 9px;
	box-shadow: 5px 10px 8px 10px #888888;
	bottom: 116px;
    display: block;
	left: 2em;
    padding: 10px;
	position: relative;
	text-align: center;
	width: 7em;
}

.card-1 p:nth-child(1) {
    color: grey;
    font-size: medium;
    margin: 2px;
}

.card-1 p:nth-child(2) {
    color: var(--caret-color);
    font-size: xx-large;
    font-weight: 600;
    margin: 2px;
}

.card-2 {
    border: 3px solid gray;
	border-radius: 9px;
	box-shadow: 5px 10px 8px 10px #888888;
    bottom: 35em;
    display: block;
    left: 25em;
	position: relative;
	padding: 10px;
	text-align: center;
	width: 7em;
}

.card-2 p:nth-child(1) {
    color: grey;
    font-size: medium;
    margin: 2px;
}

.card-2 p:nth-child(2) {
    color: var(--caret-color);
    font-size: xx-large;
    font-weight: 600;
    margin: 2px;
}

.cards-profesion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 5em;
}

.box-1 {
    background: rgb(254,117,65);
    background: linear-gradient(180deg, rgba(254,117,65,1) 0%, rgba(224,23,136,1) 55%);
    border-radius: 9px;
    color: white;
    padding: 10px 30px;
    margin: 0px 15px;
    width: 20em;
    /* height: 18em; */
}

.box-1 p {
    font-size: 22px;
    font-weight: bold;
    width: 9em;
}

.box-2 {
    background-color: white;
    border-radius: 9px;
    height: 15em;
    padding: 25px;
    margin: 20px 15px;
    width: 20em;
}

.box-2 span {
    background: rgb(254,117,65);
    background: linear-gradient(180deg, rgba(254,117,65,1) 0%, rgba(224,23,136,1) 55%);
    border-radius: 50%;
    position: relative;
    padding: 15px 13px;
    top: -33px;
    width: 10px;
}

.box-2 p:nth-child(2) {
    color: var(--caret-color);
    font-weight: 600;
    font-size: larger;
}

.box-2 p:nth-child(3) {
    color: gray;
    font-weight: 200;
    font-size: medium;
    line-height: 26px;
    width: 15em;
}

.box-2 a {
    color: crimson;
    text-decoration: none;
}

.box-3 {
    background-color: white;
    border-radius: 9px;
    height: 15em;
    padding: 25px;
    margin: 20px 15px;
    width: 20em;
}

.box-3 span {
    background: rgb(254,117,65);
    background: linear-gradient(180deg, rgba(254,117,65,1) 0%, rgba(224,23,136,1) 55%);
    border-radius: 50%;
    position: relative;
    padding: 15px 13px;
    top: -33px;
    width: 10px;
}

.box-3 p:nth-child(2) {
    color: var(--caret-color);
    font-weight: 600;
    font-size: larger;
}

.box-3 p:nth-child(3) {
    color: gray;
    font-weight: 200;
    font-size: medium;
    line-height: 26px;
    width: 15em;
}

.box-3 a {
    color: crimson;
    text-decoration: none;
}

.box-4 {
    background-color: white;
    border-radius: 9px;
    height: 15em;
    padding: 25px;
    margin: 20px 15px;
    width: 20em;
}

.box-4 span {
    background: rgb(254,117,65);
    background: linear-gradient(180deg, rgba(254,117,65,1) 0%, rgba(224,23,136,1) 55%);
    border-radius: 50%;
    position: relative;
    padding: 15px 13px;
    top: -33px;
    width: 10px;
}

.box-4 p:nth-child(2) {
    color: var(--caret-color);
    font-weight: 600;
    font-size: larger;
}

.box-4 p:nth-child(3) {
    color: gray;
    font-weight: 200;
    font-size: medium;
    line-height: 26px;
    width: 15em;
}

.box-4 a {
    color: crimson;
    text-decoration: none;
}

.box-5 {
    background-color: white;
    border-radius: 9px;
    height: 15em;
    padding: 25px;
    margin: 20px 15px;
    width: 20em;
}

.box-5 span {
    background: rgb(254,117,65);
    background: linear-gradient(180deg, rgba(254,117,65,1) 0%, rgba(224,23,136,1) 55%);
    border-radius: 50%;
    position: relative;
    padding: 15px 13px;
    top: -33px;
    width: 10px;
}

.box-5 p:nth-child(2) {
    color: var(--caret-color);
    font-weight: 600;
    font-size: larger;
}

.box-5 p:nth-child(3) {
    color: gray;
    font-weight: 200;
    font-size: medium;
    line-height: 26px;
    width: 15em;
}

.box-5 a {
    color: crimson;
    text-decoration: none;
}

.box-6 {
    background-color: white;
    border-radius: 9px;
    height: 15em;
    padding: 25px;
    margin: 20px 15px;
    width: 20em;
}

.box-6 span {
    background: rgb(254,117,65);
    background: linear-gradient(180deg, rgba(254,117,65,1) 0%, rgba(224,23,136,1) 55%);
    border-radius: 50%;
    position: relative;
    padding: 15px 13px;
    top: -33px;
    width: 10px;
}

.box-6 p:nth-child(2) {
    color: var(--caret-color);
    font-weight: 600;
    font-size: larger;
}

.box-6 p:nth-child(3) {
    color: gray;
    font-weight: 200;
    font-size: medium;
    line-height: 26px;
    width: 15em;
}

.box-6 a {
    color: crimson;
    text-decoration: none;
}

.footer {
    background-color: var(--caret-color);
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    margin: auto;
}

.footer p {
    color: white;
    font-weight: 800;
    font-size: xx-large;
}

.footer span {
    margin: 42px 0px;
}

.footer a {
    
    border-radius: 19px;
    background: rgb(106,143,232);
    background: linear-gradient(180deg, rgba(106,143,232,1) 0%, rgba(224,23,136,1) 26%);
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

/* here starts responsive part of landinpage */

@media only screen  and (max-width: 1024px) {

    /* .content-first {
        display: block;
        flex-direction: column;
        justify-content: center;
    } */

    .cards-profesion {
        margin: auto;
    }

    .box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
        background-color: white;
        border-radius: 9px;
        padding: 25px;
        margin: 30px 15px;
    }

    .box-2 span,
    .box-3 span,
    .box-4 span,
    .box-5 span,
    .box-6 span {
        padding: 20px 19px;
    }
}
